:root {
    --button: #af7735;
    --font: #181823;
    --bg: #ffffff;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg);
    overflow-x: hidden;
    /* min-height: 6000px; */
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-family: "Noto Sans";
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--font);
}

.navbar .navbar-logo img {
    width: 2.188rem;
    height: 1.954rem;
}

.navbar .navbar-nav {
    display: inline-block;
    margin-left: 5rem;
}

.navbar .navbar-nav a {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--font);
    margin: 0 1.5rem;
}

.navbar .navbar-nav a:hover {
    color: var(--button);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--button);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra {
    display: flex;
}

.navbar .navbar-extra .search-box {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(129, 129, 148, 0.2);
    border-radius: 0.625rem;
    padding: 0.938rem 1.75rem;
}

.navbar .navbar-extra .search-box img {
    margin-right: 0.992rem;
    margin-bottom: 0.2rem;
}

.navbar .navbar-extra .search-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(223, 223, 229, 0.2);
}

.navbar .navbar-extra .menu {
    color: var(--font);
    margin: 0.8rem 0 0 1rem;
}

.navbar .navbar-extra .menu:hover {
    color: var(--button);
}

#hamburger-menu {
    display: none;
}

/* back */

.back {
    /* background-color: rgb(23, 142, 215); */
    padding: 0 5%;
}

.back img {
    width: 70px;
}

/* column left */

.column {
    display: flex;
    /* width: 90%; */
    gap: 3rem;
    margin: 20px 7%;
    /* background-color: aqua; */
}

.column .left {
    width: 50%;
    /* background-color: gold; */
}

.column .left .big-img {
    width: 100%;
    max-width: 570px;
    margin-top: 40px;
}

.column .left .big-img img {
    width: inherit;

}

.column .left .images {
    display: flex;
    justify-content: start;
    gap: 30px;
    /* width: 50%; */
    margin-top: 40px;
    /* background-color: aqua; */
}

.column .left .images .small-img {
    max-width: 90px;
    width: 100%;

}

.column .left .images .small-img img {
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.column .left .images .small-img:hover img {
    transform: scale(1.2);
}

.column .Right {
    width: 50%;
    /* background-color: #883838; */
    margin-top: 40px;
}

.column .Right .judul {
    
    padding-bottom: 30px;
}

.column .Right .judul h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: var(--font);
}

.column .Right .judul h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #818194;
}

.column .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
  
.column .original-price {
    text-decoration: line-through;
    margin-right: 10px;
    color: #999;
}
  
.column .flashsale-price {
    color: #f00;
}

.column .Right .warna {
    
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    width: 508px;
    padding: 30px 0;
}

.column .Right .warna h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--font);
}

.column .Right .deskripsi {
    padding: 30px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.column .Right .deskripsi h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.column .Right .Bahan {
    
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    width: 508px;
    padding: 30px 8%;
}

.column .Right .Bahan h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;   
}

.column .Right .ukuran {
    /* border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    width: 508px; */
    padding: 30px 8%;
}

.column .Right .ukuran h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;   
}

.column .Right .want {
    /* background-color: rgb(0, 255, 26); */
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    width: 508px;
    padding: 30px 0;
}
.column .Right .want h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.column .Right .want p {
    width: 492px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 1rem;
}

.column .Right .want .link .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 2.7rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--button);
    text-decoration: none;
    border-radius: 0.875rem;
    transition: all 0.3s ease;
}

.column .Right .want .link .cta:hover {
    transform: scale(1.1);
}

.column .Right .want .link img {
    width: 100%;
    max-width: 11rem;
    display: block;
    margin-top: 1.3rem;
    transition: all 0.3s ease;
}

.column .Right .want img:hover {
    transform: scale(1.1);
}

.column .Right .estimasi {
    /* background-color: #f00; */
    padding: 30px 0; 
}

.column .Right .estimasi h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    
}

.column .Right .estimasi img{
    width: 30px;
    /* margin-top: 0.7rem; */
    
}

.column .Right .estimasi h4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: inline;
    margin-top: 2rem;
}

.column .Right .estimasi h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #686868;
    margin-top: 1rem;
}

.column .Right .estimasi h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #3C4048;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.column .Right .estimasi h2 span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #3C4048;
}

.column .Right .estimasi p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #3C4048;
    margin-top: 1rem;
}

/* Produk Populer */

.populer {
    margin: 6.25rem 7% 0 7%;
    /* justify-content: center; */
}

.populer h1 {
    text-align: center;
    font-weight: 600;
    font-size: 3.125rem;
    margin-bottom: 3.75rem;
}

.populer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.688rem;
    margin-top: 2.5rem;
    
}
  
.populer .container .card {
    width: 17.5rem;
    height: 29.375rem;
    background: #FFFFFF;
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.populer .container .card .deskripsi {
    margin: 1.25rem 0 0 1.375rem;
}

.populer .container .card .deskripsi h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #818194;    
}

.populer .container .card .deskripsi h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}

.populer .container .card .deskripsi h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

.populer .container .card p { 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: end;
    margin: 1.5rem 2rem 0 0;
}

.populer .container .card img {
    width: 100%;
}

.populer .cta a {
    padding: 1.1rem 3rem;
    background-color: var(--button);
    border-radius: 0.875rem;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 16rem;
    height: 3.75rem;
    text-align: center;
    font-size: 1.125rem;
    text-decoration: none;
    color: #ffffff;
    margin-top: 60px;
}

.populer .cta {
    justify-content: center;
    display: flex;
}

.populer .cta:hover{
    transform: scale(1.1);
}

.populer .container .card .deskripsi .price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #181823;
}
  
.populer .container .card .deskripsi .original-price {
    text-decoration: line-through;
    font-weight: 700;
    font-size: 14px;
    margin-right: 4px;
    color: #818194;
}
  
.populer .container .card .deskripsi .flashsale-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #181823;
}
/* footer */

footer {
    background-color: #3c4048;
    background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
    background: linear-gradient(59deg, #293b45, #16222a);
    color: white;
    margin-top: 100px;
    padding: 1rem 7% 1rem 7%;
}
footer .row {
    margin: 40px 3% 0 8%;
    padding-bottom: 80px;
    
}

footer img {
    max-width: 223px;
    width: 100%;
}

footer h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
}

footer a {
    /* background-color: aqua; */
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin: 1rem 1rem 1rem 0;
    text-decoration: none;
}

footer a:hover {
    color: var(--button);
    text-decoration: none;
}

footer h5 {
    width: 306px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

.copy {
    font-family: "Lato";
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    color: #ffffff;
}